<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>es.estebantorr.mail.estebantorr.imap_notifier</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/creegan/.mutt/imap_notifier/register.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StartInterval</key>
	<integer>1</integer>
	<key>KeepAlive</key>
	<false/>
	<key>LaunchOnlyOnce</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/creegan/log/imap_notifier_error.log</string>
	<key>StandardOutPath</key>
	<string>/Users/creegan/log/imap_notifier.log</string>
</dict>
</plist>
